body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 20;
    padding: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1 {
    color: #333333;
}

h3 {
    color: #333333;
}

p {
    color: #666666;
    font-size: 18px;
}